<!-- Home -->
<div id="home">
  <div class="centring">
    <section>
      <h1>Hi! I´m Nikolas</h1>
      <p>I'm a Full-Stack Web Developer from <a target="_blank" href="https://www.google.cz/maps/place/290+01+Poděbrady/@50.1433108,15.0537048,12z/data=!3m1!4b1!4m5!3m4!1s0x470c11b214ec5d2d:0x400af0f6615a860!8m2!3d50.1424249!4d15.1188883">Poděbrady</a>, Czech Republic.</p>
    </section>
  </div>
</div>
<!-- Cancel Home -->

<!-- About -->
<div id="about">
  <div class="centring">
    <section>
        <h2>About me:</h2>
    </section>
    <section>
      <div class="panel-50">
        <h3>Info</h3>
        <p>
          I am working in a company&nbsp;<a href="http://ilab.io" target="_blank">ilab.io</a>. I organize meetings of&nbsp;<a href="http://www.symfony.cz/" target="_blank">Symfony community</a>. I also contribute to&nbsp;<a href="https://www.dobryandel.cz/" target="_blank">Dobrý anděl</a>.
        </p>
      </div>
      <div class="panel-50">
        <h3>Open Source projects</h3>
        <p>
          I'm creator of a <a href="">Niklick</a>. Niklick is a small boilerplate for coders and web developers.
        </p>
      </div>
      <br>
      <div class="panel">
        <h3>Symfony meetings</h3>
        <p>
          At this moment, I organize meetings Czech Symfony community in Hradec Králové and Pardubice. Find out when the next meeting on&nbsp;<a target="_blank" href="http://www.symfony.cz/">website</a> or&nbsp;<a target="_blank" href="https://www.facebook.com/symfonisti/?ref=bookmarks">Facebook page</a>! :-)
        </p>
      </div>
      <div class="clean"></div>
    </section>
  </div>
</div>
<!-- Cancel About -->

<!-- Employers -->
<div id="firms-references">
  <div class="centring">
    <section>
      <h2>Employers</h2>
      <div class="panel-33">
        <p><a target="_blank" href="http://ilab.io">ilab.io, s.r.o.</a></p>
      </div>
      <div class="panel-33">
        <p><a target="_blank" href="https://wrongware.cz">WrongWare, s.r.o.</a></p>
      </div>
      <div class="panel-33">
        <p><a target="_blank" href="https://rychlikoderi.cz">Rychlí kodéři</a></p>
      </div>
      <div class="clean"></div>
    </section>
  </div>
</div>
<!-- Cancel Employers -->

<!-- Skills -->
<div id="skillsweb">
  <section>
    <div class="centring">
        <h2>My prefer technologies?</h2>
    </div>
  </section>
  <div id="other-background" class="panel-50">
    <div class="centring">
      <div class="panel-50">
        <p><i class="fa fa-html5"></i></p>
        <h3>Front-End</h3>
        <p>HTML5, CSS3 and Sass</p>
      </div>
      <div class="panel-50">
        <p><i class="fa fa-css3"></i></p>
        <h3>Responsive design</h3>
        <p>For every device</p>
      </div>
    </div>
  </div>
  <div class="panel-50">
    <div class="centring">
      <div class="panel-50">
        <p><i class="fa fa-code"></i></p>
        <h3>JavaScript</h3>
        <p>Node.js, Riot</p>
      </div>
      <div class="panel-50">
        <p><i class="fa fa-server"></i></p>
        <h3>Back-End</h3>
        <p>Ruby on Rails</p>
      </div>
    </div>
  </div>
  <div class="clean"></div>
</div>
<!-- Cancel Skills -->

<!-- Love -->
<div id="love-tech">
  <div class="centring">
    <section>
      <h2>
        <div class="panel-20">
          <a target="_blank" href="http://symfony.com">Symfony</a>
        </div>
        <div class="panel-20">
          +
        </div>
        <div class="panel-20">
          <a target="_blank" href="http://riotjs.com/">Riot</a>
        </div>
        <div class="panel-20">
          =
        </div>
        <div class="panel-20">
          <i class="fa fa-heart"></i>
        </div>
      </h2>
      <div class="clean"></div>
    </section>
  </div>
</div>
<!-- Cancel Love -->

<!-- Contact -->
<div id="contact">
  <section>
    <div class="centring">
      <h2>Contact me!</h2>
    </div>
  </section>
  <div class="panel-50">
    <div class="centring">
      <section>
        <!--
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81822.30831614991!2d15.053704243124344!3d50.143420805123114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c11b214ec5d2d%3A0x400af0f6615a860!2s290+01+Pod%C4%9Bbrady!5e0!3m2!1scs!2scz!4v1472317226893" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        -->
        <form action="/" name="contactform" id="contactform" method="post">
          <input id="name" value="" type="text" placeholder="Your name" name="name" required="required" class="form-control-static"/>
          <input id="email" value="" type="email" placeholder="Your email" name="mail" required="required" class="form-control-static"/>
          <textarea id="message" rows="10" placeholder="Your message" name="contact" maxlength="2000" required="required" class="form-control-static-textarea"></textarea><br/>
          <input id="submit" name="submit" type="submit" value="Send" class="btn btn-default"/>
        </form>
      </section>
    </div>
  </div>
  <div id="grey-background" class="panel-50">
    <div class="centring">
      <section>
        <p><i class="fa fa-envelope"></i></p>
        <p>pn.prokop@seznam.cz</p>
        <p><i class="fa fa-home"></i></p>
        <p>Poděbrady, Czech Republic</p>
        <p><i class="fa fa-phone"></i></p>
        <p>(+420) 732 285 585</p>
      </section>
    </div>
  </div>
  <div class="clean"></div>
</div>
<!-- Cancel Contact -->

<!-- Soc. Sites -->
<div id="soc">
  <div class="centring">
    <section>
      <div class="panel-20"><a target="_blank" href="https://www.facebook.com/peta.prokop"><i class="fa fa-facebook"></i></a></div>
      <div class="panel-20"><a target="_blank" href="https://cz.linkedin.com/in/petr-nikolas-prokop-57a875a7"><i class="fa fa-linkedin"></i></a></div>
      <div class="panel-20"><a target="_blank" href="https://twitter.com/PetrNikolas"><i class="fa fa-twitter"></i></a></div>
      <div class="panel-20"><a target="_blank" href="https://www.instagram.com/nikolas_petr/"><i class="fa fa-instagram"></i></a></div>
      <div class="panel-20"><a target="_blank" href="https://github.com/PetrNikolas"><i class="fa fa-github"></i></a></div>
      <div class="clean"></div>
    </section>
  </div>
</div>
<!-- Cancel Soc. Sites -->