<!-- Home -->
<section id="home">
  <div class="centring">
      <h1>Hi! I´m Nikolas</h1>
      <p>My name is Petr Nikolas Prokop and <span>I'm a Front-End Coder</span> from <a target="_blank" href="https://www.google.cz/maps/place/290+01+Poděbrady/@50.1433108,15.0537048,12z/data=!3m1!4b1!4m5!3m4!1s0x470c11b214ec5d2d:0x400af0f6615a860!8m2!3d50.1424249!4d15.1188883">Poděbrady</a>, Czech Republic</p>
  </div>
</section>
<!-- Cancel Home -->

<!-- About -->
<section id="about">
  <div class="centring">
    <h2>Who I am and what I do?</h2>

    <div class="panel-40">
      <p><img src="../person.svg" alt="person image"></p>
    </div>
    <div class="panel-60">
      <p>I am working in a company&nbsp;<a href="http://ilab.io" target="_blank">ilab.io</a></p>
      <p>I create and contribute to Open Source Projects</p>
      <p>I also contribute to&nbsp;<a href="https://www.dobryandel.cz/" target="_blank">Dobrý anděl</a></p>
    </div>
    <div class="clean"></div>

    <div class="panel-60">
      <p>Awesome responsive design</p>
      <p>Managing support of website and web application</p>
      <p>User testing of the website and web app</p>
    </div>
    <div class="panel-40">
      <p><img src="../ntb.svg" alt="notebook image"></p>
    </div>
    <div class="clean"></div>

    <div class="panel-40">
      <p><img src="../www.svg" alt="www image"></p>
    </div>
    <div class="panel-60">
      <p>Using modern technologies</p>
      <p>Consultation on goals and objectives of your online product or service</p>
      <p>API for mobile or anything else</p>
    </div>
    <div class="clean"></div>

  </div>
</section>
<!-- Cancel About -->

<!-- Employers -->
<section id="firms-references">
  <div class="centring">
      <h2>Employers</h2>
      <div class="panel-33">
        <p><a target="_blank" href="http://ilab.io">ilab.IoT, s.r.o.</a></p>
      </div>
      <div class="panel-33">
        <p><a target="_blank" href="https://wrongware.cz">WrongWare, s.r.o.</a></p>
      </div>
      <div class="panel-33">
        <p><a target="_blank" href="https://rychlikoderi.cz">Rychlí kodéři</a></p>
      </div>
      <div class="clean"></div>
  </div>
</section>
<!-- Cancel Employers -->

<!-- Niklick -->
<section id="niklick">
  <div class="centring">
      <h2>
        I'm creator of a <a href="https://petrnikolas.github.io/Niklick/">Niklick</a>. Niklick is a small boilerplate for coders and web developers
      </h2>
  </div>
</section>
<!-- Cancel Niklick -->

<!-- Love -->
<section id="love-tech">
  <div class="centring">
      <h2>And I love to work with ...</h2>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="https://en.wikipedia.org/wiki/HTML">HTML5</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="http://sass-lang.com">Sass</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="http://riotjs.com/">Riot</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="http://rubyonrails.org/">Rails</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="https://www.postgresql.org">Postgres</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="https://www.java.com/en/">Java</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="http://sparkjava.com">Spark</a>
        </h3>
      </div>

      <div class="panel-20">
        <h3>
          <a target="_blank" href="https://www.android.com">Android</a>
        </h3>
      </div>
      <div class="clean"></div>
  </div>
</section>
<!-- Cancel Other Love -->

<!-- Contact -->
<section id="contact">
    <div class="centring">
      <h2>Contact me!</h2>

      <div class="panel">
        <h3><span>elprokop7@gmail.com</span></h3>
      </div>
      <div class="clean"></div>

      <div class="panel-33">
        <p><i class="fa fa-home"></i></p>
        <p>Prague, Czech Republic</p>
      </div>

      <div class="panel-33">
        <p><i class="fa fa-graduation-cap"></i></p>
        <p>Hradec Králové, Czech Republic</p>
      </div>

      <div class="panel-33">
        <p><i class="fa fa-phone"></i></p>
        <p>(+420) 732 285 585</p>
      </div>
      <div class="clean"></div>
    </div>
</section>
<!-- Cancel Contact -->

<!-- Soc. Sites -->
<section id="soc">
  <div class="centring">
      <div class="panel-20"><a target="_blank" href="https://www.facebook.com/peta.prokop"><i class="fa fa-facebook"></i></a></div>
      <div class="panel-20"><a target="_blank" href="https://cz.linkedin.com/in/petr-nikolas-prokop-57a875a7"><i class="fa fa-linkedin"></i></a></div>
      <div class="panel-20"><a target="_blank" href="https://twitter.com/PetrNikolas"><i class="fa fa-twitter"></i></a></div>
      <div class="panel-20"><a target="_blank" href="https://www.instagram.com/nikolas_petr/"><i class="fa fa-instagram"></i></a></div>
      <div class="panel-20"><a target="_blank" href="https://github.com/PetrNikolas"><i class="fa fa-github"></i></a></div>
      <div class="clean"></div>
  </div>
</section>
<!-- Cancel Soc. Sites -->