<!-- Home -->
<section id="home">
  <div class="centring">
    <h1>Hi! I´m Nikolas</h1>
    <p>My name is Petr Nikolas Prokop and <strong>I'm a Front-End Developer, Front-End Designer & UI/UX Designer</strong></p>
  </div>
</section>
<!-- Cancel Home -->

<!-- About -->
<section id="about">
  <div class="centring">

    <div class="panel-33">
      <p><img src="../person.svg" alt="person image"></p>
      <h3><span>Who I am?</span></h3>
      <p>I am working in a company&nbsp;<a href="http://ilab.io" target="_blank">ilab.io</a></p>
      <p>I create and contribute to Open Source Projects</p>
      <p>I also contribute to&nbsp;<a href="https://www.dobryandel.cz/" target="_blank">Dobrý anděl</a></p>
    </div>

    <div class="panel-33">
      <p><img src="../ntb.svg" alt="notebook image"></p>
      <h3><span>What I do?</span></h3>
      <p>Awesome responsive design</p>
      <p>Managing support of website and web application</p>
      <p>User testing of the website and web app</p>
    </div>

    <div class="panel-33">
      <p><img src="../www.svg" alt="www image"></p>
      <h3><span>I also do this!</span></h3>
      <p>Using modern technologies</p>
      <p>Consultation on goals and objectives of your online product or service</p>
      <p>API for mobile or anything else</p>
    </div>

    <div class="clean"></div>
  </div>
</section>
<!-- Cancel About -->

<!-- Employers -->
<section id="firms-references">
  <hr>
  <div class="centring">
      <h2>Employers:</h2>
      <div class="panel-33">
        <p><a target="_blank" href="http://ilab.io">ilab.IoT, s.r.o.</a></p>
      </div>
      <div class="panel-33">
        <p><a target="_blank" href="https://wrongware.cz">WrongWare, s.r.o.</a></p>
      </div>
      <div class="panel-33">
        <p><a target="_blank" href="https://rychlikoderi.cz">Rychlí kodéři</a></p>
      </div>
      <div class="clean"></div>
  </div>
  <hr>
</section>
<!-- Cancel Employers -->

<!-- Niklick -->
<section id="niklick">
  <div class="centring">
      <h3>
        I'm creator of a <a href="https://petrnikolas.github.io/Niklick/">Niklick</a>. Niklick is a small boilerplate for coders and web developers
      </h3>
  </div>
</section>
<!-- Cancel Niklick -->

<!-- Love -->
<section id="love-tech">
  <hr>
  <div class="centring">
      <h2>And I love to work with ...</h2>

      <div class="panel-33">
        <h3>
          <a target="_blank" href="https://en.wikipedia.org/wiki/HTML">HTML5</a>
        </h3>
      </div>

      <div class="panel-33">
        <h3>
          <a target="_blank" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a>
        </h3>
      </div>

      <div class="panel-33">
        <h3>
          <a target="_blank" href="http://sass-lang.com">Sass</a>
        </h3>
      </div>

      <div class="panel-33">
        <h3>
          <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
        </h3>
      </div>

      <div class="panel-33">
        <h3>
          <a target="_blank" href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a>
        </h3>
      </div>

      <div class="panel-33">
        <h3>
          <a target="_blank" href="https://facebook.github.io/react/">React</a>
        </h3>
      </div>
      <div class="clean"></div>
  </div>
</section>
<!-- Cancel Other Love -->

<!-- Contact -->
<section id="contact">
    <div class="centring">
      <h2>Contact me!</h2>

      <div class="panel-50">
        <div class="border">
          <h3>
            <a class="btn btn-contact" href="mailto:elprokop7@gmail.com">Send email</a>
          </h3>
        </div>
      </div>

      <div class="panel-50">
        <h3>elprokop7@gmail.com</h3>
      </div>
      <div class="clean"></div>

      <div class="panel-33">
        <div class="border">
          <p><i class="fa fa-home"></i></p>
          <p>Prague, Czech Republic</p>
        </div>
      </div>

      <div class="panel-33">
        <div class="border">
          <p><i class="fa fa-graduation-cap"></i></p>
          <p>Hradec Králové, Czech Republic</p>
        </div>
      </div>

      <div class="panel-33">
        <p><i class="fa fa-phone"></i></p>
        <p>(+420) 732 285 585</p>
      </div>
      <div class="clean"></div>

    </div>

    <hr>

    <div class="centring">
      <!-- Soc. Sites -->
      <section id="soc">
        <div class="centring">
          <div class="panel-20"><a target="_blank" href="https://www.facebook.com/peta.prokop"><i class="fa fa-facebook"></i></a></div>
          <div class="panel-20"><a target="_blank" href="https://cz.linkedin.com/in/petr-nikolas-prokop-57a875a7"><i class="fa fa-linkedin"></i></a></div>
          <div class="panel-20"><a target="_blank" href="https://twitter.com/PetrNikolas"><i class="fa fa-twitter"></i></a></div>
          <div class="panel-20"><a target="_blank" href="https://www.instagram.com/nikolas_petr/"><i class="fa fa-instagram"></i></a></div>
          <div class="panel-20"><a target="_blank" href="https://github.com/PetrNikolas"><i class="fa fa-github"></i></a></div>
          <div class="clean"></div>
        </div>
      </section>
      <!-- Cancel Soc. Sites -->
    </div>
</section>
<!-- Cancel Contact -->