<!-- Home Portfolio -->
<div class="home-portfolio">
  <div class="centring">
    <section>
      <h1>My portfolio</h1>
      <p>Selected examples of my work.</p>
    </section>
  </div>
</div>
<!-- Cancel Home Portfolio -->

<!-- Portfolio -->
<div id="portfolio">
  <div class="centring">
    <section>
        <h2>Websites</h2>
    </section>

    <hr>

    <section>
      <!-- Panel -->
      <div class="panel">

        <!-- Panel -->
        <div class="panel-50">
          <p><img src="../share.jpg" alt="Web picture"/></p>
          <h3>Web</h3>
          <p>
            My web.
          </p>
          <p class="btn btn-default">
            <a>View on GitHub</a>
          </p>
        </div><!-- Cancel Panel -->

        <!-- Panel -->
        <div class="panel-50">
          <p><img src="../share.jpg" alt="Web picture"/></p>
          <h3>Web</h3>
          <p>
            My web.
          </p>
          <p class="btn btn-default">
            <a>View on GitHub</a>
          </p>
        </div><!-- Cancel Panel -->

        <!-- Panel -->
        <div class="panel-50">
          <p><img src="../share.jpg" alt="Web picture"/></p>
          <h3>Web</h3>
          <p>
            My web.
          </p>
          <p class="btn btn-default">
            <a>View on GitHub</a>
          </p>
        </div><!-- Cancel Panel -->

        <!-- Panel -->
        <div class="panel-50">
          <p><img src="../share.jpg" alt="Web picture"/></p>
          <h3>Web</h3>
          <p>
            My web.
          </p>
          <p class="btn btn-default">
            <a>View on GitHub</a>
          </p>
        </div><!-- Cancel Panel -->

        <div class="clean"></div>
      </div><!-- Cancel Panel -->
      <div class="clean"></div>
    </section>
  </div>
</div><!-- Cancel Portfolio -->