<!-- Home Blog -->
<section class="home-posts">
  <div class="centring">
      <h1>Editing Post</h1>
  </div>
</section>
<!-- Cancel Home Blog -->

<!-- Posts -->
<section class="posts">
  <div class="centring">
      <article>
        <%= render 'form', post: @post %>

        <hr>
        <p>
          <%= link_to 'Detail', @post %>
          |
          <%= link_to 'Back', posts_path %>
        </p>
      </article>
  </div>
</section>
<!-- Cancel Posts -->