@import "variables";

/* Nav Styles ------------------------------*/

#logo {
  float: left;
  border: none;
  margin: 20px 0px;
}

#logo a {
  color: $color-2;
  font-size: 1.2em;
  border: 1px solid $color-2;
  padding: 15px;
}

#logo a:hover,
#logo a:focus {
  border: 1px solid $color-2;
  color: $color-2;
}

.menu {
  width: 100%;
  font-size: 1em;
  float: left;
  height: auto;
  background-color: $color-white;
  box-shadow: 0px 1px 0px $color-grey;
  padding: 5px 0px;
}

.menu__ul {
  list-style: none;
  height: auto;
  float: left;
}

.menu__item {
  height: auto;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  float: left;
  font-size: 0.9em;

  a {
    border-bottom: none;
  }
}

.menu__item a:hover {
  border-bottom: none;
}

.menu__href {
  height: auto;
  padding-right: 5px;
  line-height: 55px;
  padding-left: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.menu__mainMenu {
  float: right;
}

@media (max-width: 960px) {
  #logo {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .menu__ul .menu__item {
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin: 0px;
  }

  .menu__item a {
    border: none;
  }

  .menu__item a:hover {
    border: none;
  }

  .menu__ul  {
    width: 100%;
    float: left;
    height: auto;
    margin-left: 0px;
    background-color: $color-grey;
  }
}