@import "variables";

/* Nav Styles ------------------------------*/

#logo {
  float: left;
  border: none;
}

.title-bar {
  background: transparent;
  color: $color-white;
}

#logo a {
  color: $color-white;
  font-size: 1.2em;
  padding: 15px;
  border: none;
}

#logo a:hover,
#logo a:focus {
  border: none;
  color: $color-white;
}

.main-menu {
  position: relative;
  z-index: 10;
  width: 100%;
  font-size: 1em;
  float: left;
  height: auto;
  background-color: transparent;
  padding: 5px 0;
}

.menu__ul {
  list-style: none;
  height: auto;
  float: left;
}

.menu__item {
  height: auto;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  float: left;
  font-size: 0.9em;

  a {
    color: $color-white;
    border-bottom: none;
  }
}

.menu__item a:hover {
  color: $color-white;
}

.menu__href {
  height: auto;
  padding-right: 5px;
  line-height: 55px;
  padding-left: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.menu__mainMenu {
  float: right;
}

@media (max-width: 630px) {
  #logo {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .menu__ul .menu__item {
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin: 0;
  }

  .menu__item a {
    border: none;
  }

  .menu__item a:hover {
    border: none;
    border-bottom: 1px solid;
  }

  .menu__ul  {
    width: 100%;
    float: left;
    height: auto;
    margin-left: 0;
    background-color: $color-grey;
  }
}

.top-bar, .top-bar ul {
  background-color: transparent;
}