/*!
 *
 *	Author:		Petr Nikolas Prokop - www.petrnikolas.cz
 *
 */

@import "variables";
@import "reset";
@import "nav";
@import "login_devise";

@import "variables";

/* Main Styles */

@font-face {
  font-family: "Roboto";
  src: url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;subset=latin-ext");
}

body {
  font-family: "Roboto", arial, sans-serif;
  color: $main-color;
  background-color: $color-white;
  line-height: 1.5;
  max-width: 2500px;
  height: 100%;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  padding: 20px;
  text-transform: lowercase;

  @media (max-width: 720px) {
    padding: 10px;
  }
}

h1 {
  font-size: 4em;
  text-align: left;
  font-weight: bold;
  color: $color-white;
  padding-top: 150px;
  padding-bottom: 20px;
  text-transform: uppercase;

  @media (max-width: 720px) {
    padding-top: 90px;
    padding-bottom: 10px;
  }

  @media (max-width: 630px) {
    font-size: 2.7em;
  }

  @media (max-width: 240px) {
    font-size: 1.8em;
  }

  @media (max-width: 360px) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 2.5em;

  @media (max-width: 630px) {
    font-size: 1.9em;
  }
}

h3 {
  font-size: 1.3em;
}

p {
  text-align: center;
  padding: 10px;
  font-size: 1em;
}

hr {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $main-color;
}

li {
  text-transform: uppercase;
}

a {
  cursor: pointer;
  border-bottom: 1px dotted;
  color: #363637;
  -webkit-transition: color .4s ease-out;
  -moz-transition: color .4s ease-out;
  -o-transition: color .4s ease-out;
  transition: color .4s ease-out;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $red-color;
  border-bottom: 1px solid;
  text-decoration: none;
}

.center {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;

  @media (max-width: 930px) {
    width: 100%;
  }
}

footer{
  padding: 30px 20px;
  background-color: $color-white;
}

.small-3, .small-6, .small-4, .small-8, .small-9, .small-12{
  @media (max-width: 500px) {
    width: 100%;
  }
}

/* Icons Styles */

.fa-graduation-cap,
.fa-home,
.fa-phone{
  text-shadow: none;
  font-size: 37px;
  color: $color-white;
  height: 77px;
  width: 77px;
  line-height: 77px;
  border-radius: 500em;
  text-align: center;
  background-color: transparent;
}

.fa-facebook,
.fa-github,
.fa-linkedin,
.fa-twitter{
  text-shadow: none;
  font-size: 27px;
  color: $color-white;
  height: 37px;
  width: 37px;
  line-height: 107px;
  border-radius: 500em;
  text-align: center;
  background-color: transparent;
}

/* Notice Styles */

#notice {
  color: $red-color;
}

/* Pagination */

.pagination .current,
.pagination .current:hover,
.pagination .current:focus {
  color: $red-color;
}