/*!
 *
 *	Author:		Petr Nikolas Prokop - www.petrnikolas.cz
 *
 */

@import "variables";
@import "reset";
@import "nav";

@import "variables";

/* Main Styles */

@font-face {
  font-family: "Roboto";
  src: url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;subset=latin-ext");
}

body {
  font-family: "Roboto", arial, sans-serif;
  color: $main-color;
  background-color: $background;
  line-height: 1.5;
  max-width: 2500px;
  height: 100%;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  padding: 20px;
  text-transform: lowercase;

  @media (max-width: 830px) {
    padding: 7px;
  }

  @media (max-width: 720px) {
    padding: 3px;
  }
}

h1 {
  font-size: 4em;
  text-align: left;
  color: $color-white;
  font-weight: bold;
  padding-top: 150px;
  padding-bottom: 20px;
  text-transform: none;

  @media (max-width: 720px) {
    padding-top: 90px;
    padding-bottom: 10px;
  }

  @media (max-width: 630px) {
    font-size: 2.7em;
    padding-bottom: 0px;
  }

  @media (max-width: 240px) {
    font-size: 1.8em;
  }

  @media (max-width: 360px) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 2.5em;
  color: $main-color;

  @media (max-width: 630px) {
    font-size: 1.9em;
  }
}

h3 {
  font-size: 1.3em;
}

p {
  text-align: center;
  padding: 10px;
  font-size: 1em;
}

hr {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

li {
  text-transform: uppercase;
}

a {
  cursor: pointer;
  border-bottom: 1px dotted;
  color: #363637;
  -webkit-transition: color .4s ease-out;
  -moz-transition: color .4s ease-out;
  -o-transition: color .4s ease-out;
  transition: color .4s ease-out;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $color-2;
  border-bottom: 1px solid;
  text-decoration: none;
}

span{
  font-weight: bold;
}

.centring {
  margin: 0px auto;
  width: 70%;
  max-width: 1280px;

  @media (max-width: 930px) {
    width: 100%;
  }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $color-2;
  border-color: $color-2;
}

.panel {
  float: left;
  background: transparent;
  height: auto;
  width: 100%;
  margin: 0px auto;
}

.panel-20 {
  float: left;
  background: transparent;
  height: auto;
  width: 20%;
  margin: 0px auto;

  @media (max-width: 480px) {
      float: none;
      width: 100%;
  }
}

.panel-33 {
  float: left;
  background: transparent;
  height: auto;
  width: 33.33333333333%;
  margin: 0px auto;

  @media (max-width: 480px) {
      float: none;
      width: 100%;
  }
}

.panel-40 {
  float: left;
  background: transparent;
  height: auto;
  width: 40%;
  margin: 0px auto;

  @media (max-width: 480px) {
      float: none;
      width: 100%;
  }
}

.panel-50 {
  float: left;
  background: transparent;
  height: auto;
  width: 50%;
  margin: 0px auto;

  @media (max-width: 480px) {
      float: none;
      width: 100%;
  }
}

.panel-60 {
  float: left;
  background: transparent;
  height: auto;
  width: 60%;
  margin: 0px auto;

  @media (max-width: 480px) {
      float: none;
      width: 100%;
  }
}

.clean {
  clear: both;
}

/* Icons Styles */

.fa-envelope,
.fa-home,
.fa-phone{
  text-shadow: none;
  font-size: 37px;
  color: $main-color;
  height: 77px;
  width: 77px;
  line-height: 77px;
  border-radius: 500em;
  text-align: center;
  background-color: transparent;
}

.fa-facebook{
  text-shadow: none;
  font-size: 27px;
  color: #3b5998;
  height: 37px;
  width: 37px;
  line-height: 107px;
  border-radius: 500em;
  text-align: center;
  background-color: transparent;
}

.fa-github{
  text-shadow: none;
  font-size: 27px;
  color: #000;
  height: 37px;
  width: 37px;
  line-height: 107px;
  border-radius: 500em;
  text-align: center;
  background-color: transparent;
}

.fa-instagram{
  text-shadow: none;
  font-size: 27px;
  color: #dd4b39;
  height: 37px;
  width: 37px;
  line-height: 107px;
  border-radius: 500em;
  text-align: center;
  background-color: transparent;
}

.fa-linkedin{
  text-shadow: none;
  font-size: 27px;
  color: #006fa6;
  height: 37px;
  width: 37px;
  line-height: 107px;
  border-radius: 500em;
  text-align: center;
  background-color: transparent;
}

.fa-twitter{
  text-shadow: none;
  font-size: 27px;
  color: #55acee;
  height: 37px;
  width: 37px;
  line-height: 107px;
  border-radius: 500em;
  text-align: center;
  background-color: transparent;
}

/* Notice Styles */

#notice {
  color: lawngreen;
}