@import "variables";

/* Home Blog Styles */

.home-posts {
  background: $background;

  h1 {
    text-align: center;
  }

  p {
    font-size: 1.2em;
    text-align: center;
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 50px;
    color: $color-white;
  }
}

/* Posts Styles */

article {
  padding-bottom: 50px;
}

.article{
  border: 2px solid $color-grey;
  margin: 5px 5px;
}

.posts {
  padding: 70px 20px;
  background-color: $color-white;

  @media (max-width: 830px){
    padding: 50px 20px;
  }

  .post {
    padding: 50px 0;

    @media (max-width: 830px){
      padding: 40px 0;
    }

    @media (max-width: 480px){
      padding: 20px 0;
    }

    @media (max-width: 330px){
      padding: 10px 0;
    }

    small{
      font-weight: 600;
    }
  }

  .form-control-static input {
    font: inherit;
    font-size: 1em;
    padding: .3em 2em;
    outline: none;
    border: none;
    border-bottom: 1px solid $color-dark-grey;
    width: 100%;
    margin: 15px 0;
    color: $color-dark-grey;
  }

  .form-control-static-textarea textarea {
    font:inherit;
    font-size: 1em;
    padding:.3em 2em;
    outline:none;
    border: none;
    border-bottom: 1px solid $color-dark-grey;
    width: 100%;
    min-height: 250px;
    margin: 15px 0;
    resize: none;
    color: $color-dark-grey;
  }

  .btn-default input,
  .btn-default p,
  .btn-default a {
    font: inherit;
    background-color: $red-color;
    border: 0;
    color: $color-grey;
    cursor: pointer;
    font-size: 1em;
    width: 20%;
    border-radius: 600em;
    padding: .3em 2em;
    outline: none;
    margin-top: 10px;
  }

  .btn-default input:hover,
  .btn-default input:focus {
    background-color: $color-grey;
    color: $red-color;
  }
}