@import "variables";

/* Home Styles ------------------------------*/

#home {
  color: $color-white;
  padding: 120px 20px;
  background: radial-gradient(circle at bottom center,$color-2,$background 90%);

  @media (max-width: 830px){
    padding: 90px 20px;
  }

  @media (max-width: 500px){
    padding: 100px 20px 70px 20px;
  }

  p {
    font-size: 1.2em;
    text-align: left;
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 50px;
  }
}

/* About Styles ------------------------------*/

#about {
  padding: 70px 20px;
  background-color: $color-white;

  @media (max-width: 830px){
    padding: 50px 20px;
  }

  @media (max-width: 330px){
    padding: 40px 20px;
  }

  img{
    width: 50%;
    max-width: 100%;
    box-sizing: border-box;
  }

  span{
    border-bottom: 1px solid;
  }

  .panel-40,
  .panel-60{
    margin: 10px 0;
  }
}

/* Firms-references Styles ------------------------------*/

#firms-references {
  padding: 70px 20px;
  background-color: $color-white;

  @media (max-width: 830px){
    padding: 50px 20px;
  }

  @media (max-width: 330px){
    padding: 40px 20px;
  }

  h2 {
    color: $background;
    font-size: 2.7em;
    font-weight: bold;

    @media (max-width: 240px) {
      font-size: 1.7em;
    }
  }

  a {
    color: $background;
    font-size: 1.3em;
    font-weight: bolder;
  }
}

/* Niklick Styles ------------------------------*/

#niklick {
  padding: 0 20px;
  background-color: $color-white;

  h3 {
    text-transform: none;
  }

  a {
    font-weight: bolder;
  }
}

/* Love Styles ------------------------------*/

#love-tech {
  padding: 70px 20px;
  background-color: $color-white;

  @media (max-width: 830px){
    padding: 50px 20px;
  }

  @media (max-width: 330px){
    padding: 30px 20px;
  }

  h3{
    border: 1px solid $main-color;
    margin: 10px;
  }

  a {
    color: $main-color;
    font-size: 0.8em;
    font-weight: bolder;
  }
}

/* Contact Styles ------------------------------*/

#contact {
  background-color: $background;
  padding: 70px 20px;
  color: $color-white;

  @media (max-width: 830px){
    padding: 50px 20px;
  }

  @media (max-width: 330px){
    padding: 40px 20px;
  }

  .panel-50 {
    padding: 70px 0;

    @media (max-width: 830px){
      padding: 40px 0;
    }

    @media (max-width: 330px){
      padding: 20px 0;
    }
  }

  .panel-33{
    padding: 20px 0;
  }

  .border{
    border-right: 1px solid;

    @media (max-width: 480px){
      border-right: none;
    }
  }

  h3{
    font-size: 1em;
  }

  hr {
    border-top: 1px solid $color-white;
  }

  .btn-contact {
    font: inherit;
    background-color: $background;
    border: 1px solid $color-white;
    color: $color-white;
    cursor: pointer;
    font-size: 1em;
    width: auto;
    border-radius: 0;
    padding: .7em 5em;
    outline: none;

    @media (max-width: 500px) and (min-width: 480px) {
      padding: .7em 2.5em;
    }

    @media (max-width: 330px) {
      padding: .7em 2.5em;
    }
  }

  .btn-contact:hover,
  .btn-contact:focus {
    background-color: $color-white;
    color: $color-2;
  }
}

/* Soc Styles Styles ------------------------------*/

#soc {
  background-color: transparent;

  .panel-20 {
    text-align: center;
  }

  a {
    border-bottom: none;
  }
}