@import "variables";

/* Home Styles ------------------------------*/

#home {
  background: $color-grey;
  padding: 90px 0px;

  @media (max-width: 960px){
    padding: 70px 0px;
  }

  @media (max-width: 830px){
    padding: 50px 0px;
  }

  @media (max-width: 480px){
    padding: 30px 0px;
  }

  @media (max-width: 240px){
    padding: 10px 0px;
  }

  p {
    font-size: 1.2em;
    text-align: left;
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 50px;
  }
}

/* About Styles ------------------------------*/

#about {
  padding: 50px 0px;
  background-color: $color-white;

  @media (max-width: 830px){
    padding: 40px 0px;
  }

  @media (max-width: 330px){
    padding: 20px 0px;
  }
}

/* Skills Styles ------------------------------*/

#skillsweb {
  background-color: $color-white;
  padding: 50px 0px 0px 0px;

  @media (max-width: 830px){
    padding: 40px 0px 0px 0px;
  }

  @media (max-width: 330px){
    padding: 20px 0px 0px 0px;
  }

  #other-background {
    background-color: $color-grey;
  }

  .panel-50 {
    padding: 20px 0px;
  }
}

/* Firms-references Styles ------------------------------*/

#firms-references {
  padding: 50px 0px;
  background-color: $color-grey;

  @media (max-width: 830px){
    padding: 40px 0px;
  }

  @media (max-width: 330px){
    padding: 20px 0px;
  }

  h2 {
    color: $color-3;
    font-size: 2.7em;
    font-weight: bold;

    @media (max-width: 240px) {
      font-size: 1.7em;
    }
  }

  a {
    font-size: 1.3em;
    font-weight: bolder;
  }
}

/* Love-tech Styles ------------------------------*/

#love-tech {
  padding: 50px 0px;
  background-color: $color-grey;

  @media (max-width: 830px){
    padding: 40px 0px;
  }

  @media (max-width: 768px){
    display: none;
  }

  h2 {
    color: $color-3;
    font-weight: bold;
  }

  a {
    font-size: 0.8em;
    font-weight: bolder;
  }
}

/* Orher-love-tech Styles ------------------------------*/

#other-love-tech {
  padding: 50px 0px;
  background-color: $color-3;

  @media (max-width: 830px){
    padding: 40px 0px;
  }

  @media (max-width: 768px){
    display: none;
  }

  h2 {
    color: $color-white;
  }

  h3{
    border: 1px solid $color-white;
    margin: 10px;
  }

  a {
    color: $color-white;
    font-size: 0.8em;
    font-weight: bolder;
  }
}

/* Contact Styles ------------------------------*/

#contact {
  background-color: $color-white;
  padding: 50px 0px 0px 0px;

  @media (max-width: 830px){
    padding: 40px 0px 0px 0px;
  }

  @media (max-width: 330px){
    padding: 20px 0px 0px 0px;
  }

  #grey-background {
    background-color: $color-grey;
  }

  .panel-50 {
    padding: 20px 0px;
  }

  .form-control-static {
      font: inherit;
      font-size: 1em;
      padding: .3em 2em;
      outline: none;
      border: none;
      border-bottom: 1px solid $color-3;
      width: 100%;
      margin: 15px 0px;
      color: $color-3;

    @media (max-width: 630px) {
      width: 90%;
    }

    @media (max-width: 480px) {
      width: 85%;
    }

    @media (max-width: 360px) {
      width: 80%;
    }

    @media (max-width: 320px) {
      width: 75%;
    }

    @media (max-width: 240px) {
      width: 65%;
    }
  }

  .form-control-static-textarea {
      font:inherit;
      font-size: 1em;
      padding:.3em 2em;
      outline:none;
      border: none;
      border-bottom: 1px solid $color-3;
      width: 100%;
      margin: 15px 0px;
      resize: none;
      color: $color-3;

    @media (max-width: 630px) {
      width: 90%;
    }

    @media (max-width: 480px) {
      width: 85%;
    }

    @media (max-width: 360px) {
      width: 80%;
    }

    @media (max-width: 320px) {
      width: 75%;
    }

    @media (max-width: 240px) {
      width: 65%;
    }
  }

  .btn-default {
    font: inherit;
    background-color: $color-2;
    border: 0;
    color: $color-grey;
    cursor: pointer;
    font-size: 1em;
    width: 50%;
    border-radius: 600em;
    padding: .3em 2em;
    outline: none;
    margin-top: 10px;
  }

  .btn-default:hover,
  .btn-default:focus {
    background-color: $color-grey;
    color: $color-2;
  }
}

/* Soc Styles Styles ------------------------------*/

#soc {
  background-color: $color-white;
  padding: 20px 0px;

  @media (max-width: 830px){
    padding: 40px 0px;
  }

  .panel-20 {
    text-align: center;
  }

  a {
    border-bottom: none;
  }

  @media (max-width: 480px) {
    display: none;
  }
}