<nav class="menu">
  <div class="centring">
    <div id="logo"><%= link_to "Petr Nikolas Prokop", root_path %></div>
    <ul class="menu__ul menu__mainMenu">
      <li class="menu__item menu__href"><%= link_to "Blog", posts_path %></li>
    </ul>
  </div>
</nav>