<nav class="menu">
  <div class="centring">
    <div id="logo"><%= link_to "I'm El Niňo", root_path %></div>
    <ul class="menu__ul menu__mainMenu">
      <li class="menu__item menu__href"><%= link_to "Blog (CZ)", blog_index_path %></li>

      <% if user_signed_in? %>

          <li class="menu__item menu__href"><%= link_to "Admin", posts_path %></li>
          <li class="menu__item menu__href"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

      <% end %>
    </ul>
  </div>
</nav>